@import 'normalize.css';
@import 'cssreset.css';
@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
	font-family: var(--main-font-family);
	color: var(--main-font-color);
}
.container {
	width: 100%;
	margin: 0 auto;
}
.container--large {
	max-width: 1440px;
}
.container--small {
	max-width: 940px;
}
.header {
	background-image: url("../img/bg.png");
	background-attachment: scroll;
	background-size: cover;
	height: 769px;
	padding-top: 39px;
}
.header__inner {
	display: block;
	text-align: center;
	height: 23px;
}
.logo-white {
	display: block;
}
.logo-white--mb-header {
	margin-bottom: 305px;
}
.logo-white__text {
	height: 21px;
}
.logo-white__triangle {
	height: 21px;
	position: relative;
	right: 23px;
	fill: var(--accent-color-1);
}
.header__title {
	color: #fff;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 5.7px;
	text-transform: uppercase;
	margin-left: 10px;
}
.header__subtitle {
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0.65px;
	margin-bottom: 218px;
}
.header__scroll {
	color: #fff;
	font-size: 11px;
	font-weight: 100;
	line-height: 15px;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.nav-section {
}
.nav-section__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 21px 0 23px;
}
.nav-section--mb {
	margin-bottom: 59px;
}
.logo-black {
	display: flex;
	align-items: center;
}
.logo-black__img {
}
.nav-menu {
}
.nav-menu__list {
	display: flex;
	justify-content: space-evenly;
	gap: 40.5px;
}
.nav-menu__link {
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 1.09px;
	text-transform: uppercase;
}
.nav-menu__link--active {
	color: var(--accent-color-1);
	font-weight: 700;
}
.about {
	margin-bottom: 118px;
}
.about__inner {
}
.section-title {
}
.section-title--centered {
	text-align: center;
	margin: 0 auto;
}
.section-title--mb-about {
	margin-bottom: 83px;
}
.section-title__text {
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 2.31px;
	text-transform: uppercase;
	margin-bottom: 9px;
}
.section-title__line {
	width: 50px;
	height: 2px;
	background-color: var(--accent-color-1);
	margin: inherit;
}
.about__wrapper {
	display: flex;
	justify-content: space-between;
}
.about__text {
	width: 405px;
}
.about__text-upper {
	font-size: 20px;
	font-weight: 700;
	line-height: 27px;
	margin-bottom: 27px;
}
.font-accented {
	color: var(--accent-color-1)
}
.about__text-lower {
	font-size: 13px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.19px;
}
.about__items-list {
	display: flex;
	gap: 20px;
}
.about__item {
	width: 140px;
	height: 224px;
	background-size: cover;
	padding: 15px 0 0 15px;
}
.about__item-title {
	color: rgb(255, 255, 255);
	font-size: 24px;
	font-weight: 300;
	line-height: 29px;
	letter-spacing: 0.19px;
	text-transform: uppercase;
}
.about__item--bg1 {
	background-image: url(../img/bg1.png);
}
.about__item--bg2 {
	background-image: url(../img/bg2.png);
}
.about__item--bg3 {
	background-image: url(../img/bg3.png);
}
.services {
}
.services__inner {
}
.services__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 79px;
}
.services__wrapper {
	display: flex;
	gap: 31px;
	align-items: inherit;
}
.services__section-title {
}
.services__header-text {
	width: 405px;
	color: rgb(72, 85, 91);
	font-size: 11px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0.2px;
}
.services__header-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 40px;
	color: #fff;
	background-color: var(--accent-color-1);
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
}
.services__cards {
	display: flex;
	justify-content: space-between;
}
.services__card {
	border: 1px solid #e6e6e6;
	width: 295px;
	height: 330px;
	padding: 34px 22px;
}
.services__card-img {
	margin-bottom: 25px;
}
.services__card-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.43px;
	text-transform: uppercase;
	margin-bottom: 12px;
}
.services__card-text {
	font-size: 13px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.19px;
}
.get-in-touch {
}
.get-in-touch__title {
}
.get-in-touch__btn {
}
.newsletter {
}
.newsletter__inner {
}
.newsletter__title {
}
.newsletter__input-email {
}
.newsletter-btn {
}
.footer {
}
.footer__inner {
}
.footer__company {
}
.footer__company-title {
}
.footer__company-text {
}
.footer__nav {
}
.footer__nav-title {
}
.footer__nav-wrapper {
}
.footer__nav-item {
}
.footer__contact-us {
}
.footer__contact-us-title {
}
.footer__contact-us-address {
}
.footer__contact-us-phone-number {
}
.footer__contact-us-e-mail {
}
.social-media-links {
}
.social-media-links__link {
}
.social-media-links__icon {
}
.footer__copyright {
}
.footer__copyright__text {
}
